<div id="footerFull">
  <div id="up-footer">
    <div id="footerUpperbox">
      <h1 id="up-footer-heading">Random Word</h1>
      <p class="footer-parah-1">
        Lorem ipsum dolor, sit amet consectetur adipisicing
        <br class="removebr" />
        elit. Deleniti, quas?
      </p>
    </div>
    <div id="footer-container1">
      <div id="footer-container1-text">
        <h1 id="footer-header-data">Stay in the loop</h1>
        <p id="footer-parah-data">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt<br />
          in repellendus praesentium vitae
        </p>
      </div>
      <div id="footer-container1-search">
        <div class="input-group">
          <input
            type="search"
            class="form-control rounded"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="search-addon"
          />
          <button type="button" class="btn btn-search">Continue</button>
        </div>
      </div>
    </div>
  </div>

  <div id="footer-container2">
    <div class="footer-data first">
      <h1>LOGO</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur <br />adipisicing elit. Fugit,
        corporis?
      </p>
      <p>@Company.com</p>
    </div>
    <div class="footer-data first">
      <h2>About us</h2>
      <ul>
        <li>Company</li>
        <li>Portfolio</li>
        <li>Careers</li>
        <li>Contact us</li>
      </ul>
    </div>
    <div class="footer-data first">
      <h2>Contact us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
        <br />fuga tempora dolores minus <br />ducimus voluptatem.
      </p>
      <p>+9097856432</p>
    </div>
    <div class="footer-data ico">
      <i class="material-icons">facebook</i>
      <i class="material-icons">facebook</i>
      <i class="material-icons">facebook</i>
      <i class="material-icons">facebook</i>
    </div>
  </div>
  <div id="footer-final">
    <hr id="line" />
    <p id="footer-container3">Copyright*2021 Company All rights Recieved</p>
  </div>
</div>
