<div id="service">
  <h1 id="service-heading">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, asperiores.
  </h1>
  <p id="service-head-parah">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </p>
  <img
    id="service-image"
    src="../../assets/Images/Huge Global.png"
    alt="global-image"
  />
</div>
<div id="service-data">
  <h4>
    Follow us <br />
    <i class="material-icons">facebook</i>
    <i class="material-icons">facebook</i>
    <i class="material-icons">facebook</i>
    <i class="material-icons">facebook</i>
  </h4>
  <div class="vl"></div>
  <p><i class="material-icons">wifi_calling_3</i>+86456453543</p>
  <div class="vl"></div>
  <p class="loc">
    <i class="material-icons">location_pin</i>but also the leap in electronic
  </p>
</div>
<div id="res-service-data">
  <div class="service-items">
    <p><i class="material-icons">wifi_calling_3</i>+86456453543</p>
  </div>
  <hr class="service-items" />
  <div class="service-items">
    <p class="loc">
      <i class="material-icons">location_pin</i>but also the leap in electronic
    </p>
  </div>
  <hr class="service-items" />
  <div class="service-items">
    <h4>
      Follow us <br />
      <i class="material-icons">facebook</i>
      <i class="material-icons">facebook</i>
      <i class="material-icons">facebook</i>
      <i class="material-icons">facebook</i>
    </h4>
  </div>
</div>

<div id="service-form-data">
  <img id="vector1" src="../../assets/Images/Vector 3.png" alt="" />
  <img id="vector2" src="../../assets/Images/Vector 4.png" alt="" />
  <div id="res-form">
    <div id="form-group">
      <form>
        <div>
          <div id="service-text">
            <h1 id="service-text-data">Say hello</h1>
            <p id="service-text-parah">
              Lorem ipsum dolor sit amet consectetur adipisicing.
            </p>
          </div>
          <form id="form-inline">
            <div class="setLabel">
              <label class="sr-only" for="inlineFormInput">First Name</label>
              <input
                type="text"
                class="form-control mb-2 mr-sm-2 mb-sm-0 setText"
                id="inlineFormInput"
              />
            </div>
            <div class="setLabel">
              <label class="sr-only" for="inlineFormInput">Last Name</label>
              <input
                type="text"
                class="form-control mb-2 mr-sm-2 mb-sm-0 setText"
                id="inlineFormInput"
              />
            </div>
          </form>
          <div id="service-email">
            <label class="control-label col-sm-2" for="email"
              >Email Address</label
            >
            <div class="col-sm-10">
              <input
                type="email"
                class="form-control setEmail"
                id="email"
                name="email"
              />
            </div>
          </div>
          <div id="service-textarea">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea
              class="form-control setTextarea"
              id="exampleFormControlTextarea1"
              rows="3"
            ></textarea>
            <button type="button" class="btn service-button">
              Get in touch
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
