<div id="first-container">
  <div id="first-container-sub">
    <div id="first-container-sub2">
      <h2 id="first-container-header">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
        tempora.
      </h2>
      <p id="first-container-parah">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo porro qui
        repellendus sint, molestias nisi, est eligendi blanditiis facilis
        impedit dolorem? Aut autem ullam aliquid!
      </p>
      <button id="first-container-button">Get in touch</button>
    </div>
  </div>
  <div>
    <img
      class="first-container-image"
      src="../../assets/Images/Rectangle 6.png"
      alt=""
    />
  </div>
</div>

<div id="First-Card-container">
  <h2 id="Card-text">Why work with us</h2>
  <div id="Card-content">
    <div id="Card1">
      <button id="Card-btn-1">Lorem ipsum</button>
      <h3 class="Card-header">Lorem ipsum</h3>
      <p class="Card-parah">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
        iusto nulla amet soluta dolorum, possimus consequuntur non, ducimus
        reiciendis, architecto placeat nostrum.
      </p>
    </div>
    <div id="Card2">
      <button id="Card-btn-2">Lorem ipsum</button>
      <h3 class="Card-header">Lorem ipsum</h3>
      <p class="Card-parah">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
        iusto nulla amet soluta dolorum, possimus consequuntur non, ducimus
        reiciendis, architecto placeat nostrum.
      </p>
    </div>
    <div id="Card3">
      <button id="Card-btn-3">Lorem ipsum</button>
      <h3 class="Card-header">Lorem ipsum</h3>
      <p class="Card-parah">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
        iusto nulla amet soluta dolorum, possimus consequuntur non, ducimus
        reiciendis, architecto placeat nostrum.
      </p>
    </div>
  </div>
</div>

<div id="Second-Container">
  <div>
    <img
      class="container-image"
      src="../../assets/Images/Rectangle 25 (3).png"
      alt=""
    />
  </div>
  <div id="Second-Container-Sub">
    <h4 class="Second-Container-content colorh4">Lorem ipsum</h4>
    <h3 class="Second-Container-content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      accusantium repellendus pariatur optio ipsam.
    </h3>
    <p class="Second-Container-content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt fuga
      voluptatem neque, dolore vero repudiandae! Voluptatem, non. Officia rerum
      sapiente at vitae ab laborum iusto nemo dicta sint. Voluptatum dicta
      impedit eum ab amet enim dolores praesentium corporis, id quasi nisi
      voluptates veritatis! At minus inventore, hic velit necessitatibus sint.
    </p>
  </div>
</div>

<div id="Third-Container">
  <h4 id="Third-Heading">Our Team</h4>
  <div id="Third-card">
    <div class="tcard">
      <img src="../../assets/Images/Bill 1.png" alt="" />
      <h3 class="tcardtitle">John peter</h3>
      <p class="tcardinfo">COO</p>
    </div>
    <div class="tcard">
      <img src="../../assets/Images/Beverly 1.png" alt="" />
      <h3 class="tcardtitle">John peter</h3>
      <p class="tcardinfo">COO</p>
    </div>
    <div class="tcard">
      <img src="../../assets/Images/Claudia 1.png" alt="" />
      <h3 class="tcardtitle">John peter</h3>
      <p class="tcardinfo">COO</p>
    </div>
    <div class="tcard">
      <img src="../../assets/Images/Avatar 1.png" alt="" />
      <h3 class="tcardtitle">John peter</h3>
      <p class="tcardinfo">COO</p>
    </div>
  </div>
</div>

<div id="Sponsor-Container">
  <h2 id="Sponsor-header">Our Partnership and Collabratiors</h2>
  <div id="Sponsor-sub">
    <img
      class="sponsor-Image"
      src="../../assets/Images/clientlogo-8-3.png"
      alt=""
    />
    <img
      class="sponsor-Image"
      src="../../assets/Images/Kudos-Client-Logo-3.png"
      alt=""
    />
    <img
      class="sponsor-Image"
      src="../../assets/Images/Inmarc-client-logos-Recovered-32.png"
      alt=""
    />
    <img
      class="sponsor-Image"
      src="../../assets/Images/354-3549351_client-earth-logo.png"
      alt=""
    />
    <img
      class="sponsor-Image"
      src="../../assets/Images/biotechne+logo.png"
      alt=""
    />
  </div>
</div>
