<div id="number-container">
  <div id="number-text-info">
    <h1 id="number-header">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
      asperiores.
    </h1>
    <p id="number-parah">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </div>
  <div id="number-service">
    <div id="number-service-internal">
      <div class="vl"></div>
      <p>
        <img class="service-icon-image" src="../../assets/Images/user.png" /><b
          class="service-icon-num"
          >90+</b
        ><br /><span class="service-icon-text">Clients</span>
      </p>
      <div class="vl"></div>
      <p>
        <img
          class="service-icon-image"
          src="../../assets/Images/location.png"
        /><b class="service-icon-num">30+</b><br /><span
          class="service-icon-text"
          >Countries</span
        >
      </p>
      <div class="vl"></div>
      <p>
        <img
          class="service-icon-image"
          src="../../assets/Images/Server.png"
        /><b class="service-icon-num">50+</b><br /><span
          class="service-icon-text"
          >Projects</span
        >
      </p>
    </div>
  </div>
  <div id="number-service-res">
    <p>
      <img class="service-icon-image" src="../../assets/Images/user.png" /><b
        class="service-icon-num"
        >90+</b
      ><br /><span class="service-icon-text">Clients</span>
    </p>
    <p id="res-country">
      <img
        class="service-icon-image"
        src="../../assets/Images/location.png"
      /><b class="service-icon-num">30+</b><br /><span class="service-icon-text"
        >Countries</span
      >
    </p>
    <p>
      <img class="service-icon-image" src="../../assets/Images/Server.png" /><b
        class="service-icon-num"
        >50+</b
      ><br /><span class="service-icon-text">Projects</span>
    </p>
  </div>
</div>

<div id="Full-box-container">
  <div id="box-1">
    <img
      id="first-video-image"
      src="../../assets/Images/Hero Video.png"
      alt="Video image"
    />
    <div id="innerbox-1">
      <h1 class="first-info-header">
        Lorem ipsum dolor sit <br />amet consectetur.
      </h1>
      <p class="first-info-parah">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br />
        Optio qui cum assumenda nemo aut suscipit.
      </p>
      <div id="checkbox">
        <p>
          <img
            class="checbox-service"
            src="../../assets/Images/bx_bxs-check-circle.png"
          />Lorem ipsum dolor sit.
        </p>
        <p>
          <img
            class="checbox-service"
            src="../../assets/Images/bx_bxs-check-circle.png"
          />Lorem ipsum dolor sit.
        </p>
        <p>
          <img
            class="checbox-service"
            src="../../assets/Images/bx_bxs-check-circle.png"
          />Lorem ipsum dolor sit.
        </p>
        <p>
          <img
            class="checbox-service"
            src="../../assets/Images/bx_bxs-check-circle.png"
          />Lorem ipsum dolor sit.
        </p>
      </div>
    </div>
  </div>

  <div class="box-2">
    <div id="innerbox-2">
      <h1 class="first-info-header">
        Lorem ipsum dolor sit amet consectetur<br class="res-sort" />
        adipisicing elit. Quis.
      </h1>
      <p class="first-info-parah">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
        <br />molestias dolore quaerat quam dicta minus inventore <br />eveniet
        fugiat magnam eligendi, dolores quidem atque beatae<br />
        debitis quas asperiores voluptates!<br />
        Ad totam a reiciendis asperiores sapiente quam.
      </p>
      <p class="parah-space">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.<br />
        Sequi exercitationem ipsam ullam?
      </p>
      <button class="box-btn">Read More</button>
    </div>
    <img
      class="box-images"
      src="../../assets/Images/Rectangle 25.png"
      alt=""
      srcset=""
    />
  </div>

  <div class="box-2">
    <img
      class="box-images"
      src="../../assets/Images/Rectangle 26.png"
      alt=""
      srcset=""
    />
    <div id="innerbox-2">
      <h1 class="first-info-header">
        Lorem ipsum dolor sit amet consectetur<br class="res-sort" />
        adipisicing elit. Quis.
      </h1>
      <p class="first-info-parah">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
        <br />molestias dolore quaerat quam dicta minus inventore <br />eveniet
        fugiat magnam eligendi, dolores quidem atque beatae<br />
        debitis quas asperiores voluptates!<br />
        Ad totam a reiciendis asperiores sapiente quam.
      </p>
      <p class="parah-space">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.<br />
        Sequi exercitationem ipsam ullam?
      </p>
      <button class="box-btn">Read More</button>
    </div>
  </div>

  <div class="box-2">
    <div id="innerbox-2">
      <h1 class="first-info-header">
        Lorem ipsum dolor sit amet consectetur<br class="res-sort" />
        adipisicing elit. Quis.
      </h1>
      <p class="first-info-parah">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
        <br />molestias dolore quaerat quam dicta minus inventore <br />eveniet
        fugiat magnam eligendi, dolores quidem atque beatae<br />
        debitis quas asperiores voluptates!<br />
        Ad totam a reiciendis asperiores sapiente quam.
      </p>
      <p class="parah-space">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.<br />
        Sequi exercitationem ipsam ullam?
      </p>
      <button class="box-btn">Read More</button>
    </div>
    <img
      class="box-images"
      src="../../assets/Images/Rectangle 25 (2).png"
      alt=""
      srcset=""
    />
  </div>
</div>

<!-- <div id="slider-container">
  <div id="slider-inner-1">
    <h1 class="slider-header">Trusted by Thousands of</h1>
    <h1 class="slider-header">Happy Customer</h1>
    <p class="slider-header-parah">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, voluptatem.
    </p>
    <p class="slider-header-parah">Lorem ipsum dolor sit amet consectetur.</p>
  </div>
</div> -->

<!--Slider code--------------->

<!-- Slider code-->
<section id="slider">
  <div class="container">
    <div class="subcontainer">
      <!--Both container and sub container for making the slider responsive-->
      <div class="slider-wrapper">
        <!--Where the button and the slider comes in-->

        <div id="slider-container">
          <div id="slider-inner-1">
            <h1 class="slider-header">
              Trusted by Thousands of <br class="res-sort" />Happy Customer
            </h1>
            <!-- <h1 class="slider-header">Happy Customer</h1> -->
            <p class="slider-header-parah">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit,
              voluptatem. <br class="res-sort" />
              Lorem ipsum dolor sit amet consectetur.
            </p>
          </div>
        </div>

        <div class="controller">
          <!-- <div id="FourthContainer">
            <h2 id="fourthcontainer-header">Lorem ipsum</h2>
            <p id="fourthcontainer-parah">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum
              doloremque
              <br class="res-sort" />adipisci.
            </p>
          </div> -->
        </div>

        <!--CODE FOR SLIDER after controller-->
        <br />
        <div class="my-slider">
          <!--Card start here-->
          <div>
            <div class="slide">
              <div class="slide-img img-1">
                <div id="service-card-content">
                  <div id="service-header-top">
                    <img
                      class="service-image1"
                      src="../../assets/Images/Group 1152.png"
                      alt=""
                    />
                    <img
                      class="service-image2"
                      src="../../assets/Images/Group 1163.png"
                      alt=""
                    />
                  </div>
                  <div class="service-parah-bottom">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Quae neque pariatur perspiciatis.
                  </div>
                </div>
              </div>
              <br />
              <!--INFO ABOUT THE IMAGE-->
            </div>
          </div>
          <!--Till here-->
          <!--Multi card copied start here-->
          <div>
            <div class="slide">
              <div class="slide-img img-2">
                <div id="service-card-content">
                  <div id="service-header-top">
                    <img
                      class="service-image1"
                      src="../../assets/Images/Group 1153.png"
                      alt=""
                    />
                    <img
                      class="service-image2"
                      src="../../assets/Images/Group 1163.png"
                      alt=""
                    />
                  </div>
                  <div class="service-parah-bottom">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Quae neque pariatur perspiciatis.
                  </div>
                </div>
              </div>
              <br />
              <!--INFO ABOUT THE IMAGE-->
            </div>
          </div>
          <div>
            <div class="slide">
              <div class="slide-img img-3">
                <div id="service-card-content">
                  <div id="service-header-top">
                    <img
                      class="service-image1"
                      src="../../assets/Images/Group 1154.png"
                      alt=""
                    />
                    <img
                      class="service-image2"
                      src="../../assets/Images/Group 1163.png"
                      alt=""
                    />
                  </div>
                  <div class="service-parah-bottom">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Quae neque pariatur perspiciatis.
                  </div>
                </div>
              </div>
              <br />
              <!--INFO ABOUT THE IMAGE-->
            </div>
          </div>
          <div>
            <div class="slide">
              <div class="slide-img img-4">
                <div id="service-card-content">
                  <div id="service-header-top">
                    <img
                      class="service-image1"
                      src="../../assets/Images/Group 1153.png"
                      alt=""
                    />
                    <img
                      class="service-image2"
                      src="../../assets/Images/Group 1163.png"
                      alt=""
                    />
                  </div>
                  <div class="service-parah-bottom">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Quae neque pariatur perspiciatis.
                  </div>
                </div>
              </div>
              <br />
              <!--INFO ABOUT THE IMAGE-->
            </div>
          </div>
          <!--Till here multi copy code----->
        </div>
        <div id="controls">
          <!-- button code-->
          <button class="previous">
            <i class="material-icons arrow-move">arrow_back</i>
          </button>
          <button class="next">
            <i class="material-icons arrow-move">arrow_forward</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
