<div id="News-top">
  <div id="News-text">
    <h1 id="News-heading">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
      asperiores.
    </h1>
    <p id="News-head-parah">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </div>
  <div class="input-group rounded News-search">
    <input
      type="search"
      class="form-control rounded News-input"
      placeholder="Search"
      aria-label="Search"
      aria-describedby="search-addon"
    />
  </div>
</div>

<div id="news-full-container">
  <div>
    <div>
      <div>
        <img
          class="News-main-image"
          src="../../assets/Images/Rectangle 274.png"
          alt=""
        />
      </div>
      <div>
        <button class="News-info-right-button">Hello</button>
        <h1 class="News-info-text-right">
          Lorem ipsum dolor sit amet consectetur, adipisicing<br
            class="res-sort"
          />
          elit. Modi, tenetur.
        </h1>
        <p class="News-info-text-right-data">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit<br />
          ab nihil perspiciatis labore aperiam<br />
          doloremque, officia inventore animi,<br />
          cum dolores consectetur ipsum dolor possimus<br />
          omnis accusamus alias, corrupti harum voluptate vero dolore?
          <br />Totam minus quis tempora impedit eum dolores quae.
        </p>
        <br />
        <p class="News-info-text-right-data">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.<br
            class="res-sort"
          />
          Eaque, animi?
        </p>
      </div>
    </div>
    <hr id="News-line" />
    <div>
      <div>
        <img
          class="News-main-image"
          src="../../assets/Images/Rectangle 274 (1).png"
          alt=""
        />
      </div>
      <div>
        <button class="News-info-right-button">Hello</button>
        <h1 class="News-info-text-right">
          Lorem ipsum dolor sit amet consectetur, adipisicing<br
            class="res-sort"
          />
          elit. Modi, tenetur.
        </h1>
        <p class="News-info-text-right-data">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit<br />
          ab nihil perspiciatis labore aperiam<br />
          doloremque, officia inventore animi,<br />
          cum dolores consectetur ipsum dolor possimus<br />
          omnis accusamus alias, corrupti harum voluptate vero dolore?
          <br />Totam minus quis tempora impedit eum dolores quae.
        </p>
      </div>
    </div>
  </div>

  <div id="News-main-left">
    <div class="News-data-container">
      <div>
        <img
          class="res-image"
          src="../../assets/Images/Rectangle 276.png"
          alt=""
        />
      </div>
      <div class="News-data-info">
        <button class="News-info-button">Hello</button>
        <p class="News-info-text">
          Lorem ipsum dolor sit amet consectetur adipisicing
          <br class="res-sort" />elit. Aut.
        </p>
      </div>
    </div>
    <div class="News-data-container">
      <div>
        <img
          class="res-image"
          src="../../assets/Images/Rectangle 276 (1).png"
          alt=""
        />
      </div>
      <div class="News-data-info">
        <button class="News-info-button">Hello</button>
        <p class="News-info-text">
          Lorem ipsum dolor sit amet consectetur adipisicing
          <br class="res-sort" />elit. Aut.
        </p>
      </div>
    </div>
    <div class="News-data-container">
      <div>
        <img
          class="res-image"
          src="../../assets/Images/Rectangle 276 (2).png"
          alt=""
        />
      </div>
      <div class="News-data-info">
        <button class="News-info-button">Hello</button>
        <p class="News-info-text">
          Lorem ipsum dolor sit amet consectetur adipisicing
          <br class="res-sort" />elit. Aut.
        </p>
      </div>
    </div>
    <div class="News-data-container">
      <div>
        <img
          class="res-image"
          src="../../assets/Images/Rectangle 276 (3).png"
          alt=""
        />
      </div>
      <div class="News-data-info">
        <button class="News-info-button">Hello</button>
        <p class="News-info-text">
          Lorem ipsum dolor sit amet consectetur adipisicing
          <br class="res-sort" />elit. Aut.
        </p>
      </div>
    </div>
    <div class="News-data-container">
      <div>
        <img
          class="res-image"
          src="../../assets/Images/Rectangle 276 (4).png"
          alt=""
        />
      </div>
      <div class="News-data-info">
        <button class="News-info-button">Hello</button>
        <p class="News-info-text">
          Lorem ipsum dolor sit amet consectetur adipisicing
          <br class="res-sort" />elit. Aut.
        </p>
      </div>
    </div>
    <div class="News-data-container">
      <div>
        <img
          class="res-image"
          src="../../assets/Images/Rectangle 276 (5).png"
          alt=""
        />
      </div>
      <div class="News-data-info">
        <button class="News-info-button">Hello</button>
        <p class="News-info-text">
          Lorem ipsum dolor sit amet consectetur adipisicing
          <br class="res-sort" />elit. Aut.
        </p>
      </div>
    </div>
    <div class="News-data-container">
      <div>
        <img
          class="res-image"
          src="../../assets/Images/Rectangle 276 (6).png"
          alt=""
        />
      </div>
      <div class="News-data-info">
        <button class="News-info-button">Hello</button>
        <p class="News-info-text">
          Lorem ipsum dolor sit amet consectetur adipisicing
          <br class="res-sort" />elit. Aut.
        </p>
      </div>
    </div>
  </div>
</div>
