<div id="first-main">
  <img id="first-vector" src="../../assets/Images/Vector 3.png" alt="" />
  <div>
    <div id="first-container">
      <div id="first-sub">
        <div id="first-sub2">
          <h3 id="first-main-header">Digital Marketing</h3>
          <h1 id="first-header">Work that we produce for our clients</h1>
          <p id="first-parah">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo porro
            qui repellendus sint, molestias nisi, est eligendi blanditiis
            facilis impedit dolorem? Aut autem ullam aliquid!
          </p>
          <button id="first-container-button">Get more details</button>
        </div>
        <div id="first-sub3">
          <img
            id="mid-vector"
            src="../../assets/Images/jevi-web-studio-ar-vr 1.png"
            alt=""
          />
        </div>
      </div>
      <img id="third-vector" src="../../assets/Images/Vector 4.png" alt="" />
    </div>
  </div>
  <img id="second-vector" src="../../assets/Images/Vector 1.png" alt="" />
</div>

<div>
  <h2 id="second-header">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit vel,
    ducimus<br class="res-sort" />
    in quasi repellendus eos tempora.
  </h2>
  <div id="second-container1">
    <h2 id="second-header-title">Lorem Ipsum</h2>
    <p id="second-parah">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi magni
      corrupti reiciendis doloribus ex libero neque quia, ea a excepturi
      accusantium.
    </p>
  </div>
</div>
<!--Image code---------------------------------->
<div id="third-container">
  <div id="Full-third-container">
    <div>
      <img class="third-image1" src="../../assets/Images/Group 21.png" alt="" />
    </div>
    <div>
      <img
        class="third-image2"
        src="../../assets/Images/Rectangle 4 (1).png"
        alt=""
      />
    </div>
  </div>
</div>
<!--Image code---------------------------------->
<div>
  <h2 id="third-subContainer">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit vel,
    ducimus<br class="res-sort" />
    in quasi repellendus eos tempora.
  </h2>
  <p id="third-parah-subContainer">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, deserunt
    est nostrum eligendi quam debitis velit repellat quod nihil<br
      class="res-sort"
    />
    doloremque sint eius obcaecati, commodi ex alias modi veniam.
  </p>
</div>

<div>
  <div id="arrowContainer1">
    <div class="arrowCards">
      <img class="iconImage" src="../../assets/Images/Group 48.png" alt="" />
      <h3 class="arrowText">Mobile Game Development</h3>
      <img src="../assets/arrow 1.png" alt="" />
    </div>
    <div class="arrowCards">
      <img class="iconImage" src="../../assets/Images/Group 49.png" alt="" />
      <h3 class="arrowText">PC Game Development</h3>
      <img src="../assets/arrow 1.png" alt="" />
    </div>
    <div class="arrowCards">
      <img class="iconImage" src="../../assets/Images/Group 50.png" alt="" />
      <h3 class="arrowText">PS4 Game Development</h3>
      <img src="../assets/arrow 1.png" alt="" />
    </div>
    <div class="arrowCards">
      <img class="iconImage" src="../../assets/Images/Group 51.png" alt="" />
      <h3 class="arrowText">AR/VR Solutions</h3>
      <img src="../assets/arrow 1.png" alt="" />
    </div>
  </div>
</div>

<div id="arrowContainer2">
  <div class="arrowCards">
    <img class="iconImage" src="../../assets/Images/Group 52.png" alt="" />
    <h3 class="arrowText">AR/VR design</h3>
    <img src="../assets/arrow 1.png" alt="" />
  </div>
  <div class="arrowCards">
    <img class="iconImage" src="../../assets/Images/Group 53.png" alt="" />
    <h3 class="arrowText">3D Modelings</h3>
    <img src="../assets/arrow 1.png" alt="" />
  </div>
</div>

<!-- Slider code-->
<section id="slider">
  <div class="container">
    <div class="subcontainer">
      <!--Both container and sub container for making the slider responsive-->
      <div class="slider-wrapper">
        <!--Where the button and the slider comes in-->

        <div class="controller">
          <div id="FourthContainer">
            <h2 id="fourthcontainer-header">Lorem ipsum</h2>
            <p id="fourthcontainer-parah">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum
              doloremque
              <br class="res-sort" />adipisci.
            </p>
          </div>
          <div id="controls">
            <!-- button code-->
            <button class="previous">
              <i class="material-icons">arrow_back_ios_new</i>
            </button>
            <button class="next">
              <i class="material-icons">arrow_forward_ios</i>
            </button>
          </div>
        </div>

        <!--CODE FOR SLIDER after controller-->
        <br />
        <div class="my-slider">
          <!--Card start here-->
          <div>
            <div class="slide">
              <div class="slide-img img-1">
                <div class="card-content">
                  <button id="card-btn1">Lorem ipsum</button>
                  <h2 class="card-header-content">Lorem ipsum</h2>
                  <p class="card-parah-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Beatae natus aliquam mollitia ipsam architecto commodi
                    veritatis itaque, deleniti.
                  </p>
                  <img
                    class="card-last-content"
                    src="../../assets/Images/Group 40.png"
                    alt=""
                  />
                </div>
              </div>
              <br />
              <!--INFO ABOUT THE IMAGE-->
            </div>
          </div>
          <!--Till here-->
          <!--Multi card copied start here-->
          <div>
            <div class="slide">
              <div class="slide-img img-2">
                <div class="card-content">
                  <button id="card-btn2">Lorem ipsum</button>
                  <h2 class="card-header-content">Lorem ipsum</h2>
                  <p class="card-parah-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Beatae natus aliquam mollitia ipsam architecto commodi
                    veritatis itaque, deleniti.
                  </p>
                  <img
                    class="card-last-content"
                    src="../../assets/Images/Group 40.png"
                    alt=""
                  />
                </div>
              </div>
              <br />
              <!--INFO ABOUT THE IMAGE-->
            </div>
          </div>
          <div>
            <div class="slide">
              <div class="slide-img img-3">
                <div class="card-content">
                  <button id="card-btn3">Lorem ipsum</button>
                  <h2 class="card-header-content">Lorem ipsum</h2>
                  <p class="card-parah-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Beatae natus aliquam mollitia ipsam architecto commodi
                    veritatis itaque, deleniti.
                  </p>
                  <img
                    class="card-last-content"
                    src="../../assets/Images/Group 40.png"
                    alt=""
                  />
                </div>
              </div>
              <br />
              <!--INFO ABOUT THE IMAGE-->
            </div>
          </div>
          <div>
            <div class="slide">
              <div class="slide-img img-4">
                <div class="card-content">
                  <button id="card-btn4">Lorem ipsum</button>
                  <h2 class="card-header-content">Lorem ipsum</h2>
                  <p class="card-parah-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Beatae natus aliquam mollitia ipsam architecto commodi
                    veritatis itaque, deleniti.
                  </p>
                  <img
                    class="card-last-content"
                    src="../../assets/Images/Group 40.png"
                    alt=""
                  />
                </div>
              </div>
              <br />
              <!--INFO ABOUT THE IMAGE-->
            </div>
          </div>
          <!--Till here multi copy code----->
        </div>
      </div>
    </div>
  </div>
</section>

<div id="FifthContainer">
  <h2 id="fifth-subContainer">Our Recent Projects</h2>
  <p id="fifth-parah-subContainer">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, deserunt
    est nostrum eligendi <br class="res-sort" />quam debitis.
  </p>
  <div id="imagecontainer">
    <img
      class="Fifthcontainer-image"
      src="../../assets/Images/Rectangle 15.png"
      alt=""
    />
    <img
      class="Fifthcontainer-image"
      src="../../assets/Images/Rectangle 16.png"
      alt=""
    />
    <img
      class="Fifthcontainer-image"
      src="../../assets/Images/Rectangle 17.png"
      alt=""
    />
  </div>
  <div id="imagecontainer">
    <img
      class="Fifthcontainer-image4"
      src="../../assets/Images/Rectangle 19.png"
      alt=""
    />
    <img
      class="Fifthcontainer-image5"
      src="../../assets/Images/Rectangle 18.png"
      alt=""
    />
    <img
      class="Fifthcontainer-image6"
      src="../../assets/Images/Rectangle 20.png"
      alt=""
    />
  </div>
</div>

<div id="SixthContainer">
  <div>
    <img
      class="Sixthcontainer-image"
      src="../../assets/Images/b6037c718d06eccda032139f4994d3f0 1.png"
      alt=""
    />
  </div>
  <div id="SixthsubContainer">
    <h2 id="Sixthcontainer-header">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </h2>
    <p id="Sixthcontainer-parah">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quisquam
      cumque nemo ullam, soluta suscipit illo provident dignissimos quaerat
      similique neque facilis laborum? Maiores, eligendi laboriosam. Autem
      aperiam odit nihil explicabo, quae reiciendis quo voluptates magni
    </p>
    <p id="Sixthcontainer-parah">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. fugiat sapiente
      non harum.
    </p>
    <button id="Sixthcontainer-button">Read more</button>
  </div>
</div>
